.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.sproduct select{
    display: block;
    padding: 5px 10px;
}

.sproduct input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.sproduct input:focus{
    outline: none;
}

.buy-btn{
    background-color: #fb774b;
    opacity: 1;
    transition: 0.3s all;
}

.contenedorBoton{
    display: flex;
    flex-direction: row;
}

.botonDetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 50px;
    width: 80px;
    text-decoration: none;
    margin-right: 4px;
    margin-left: 4px;
    text-decoration: none;
}
